@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ClientSection)Model.Content;
}
<section class="clients" style="background-image: url(@content.ClientBgImage.Url());">
    <div class="clients-flex container">
        <div class="clients-title">
            @Html.Raw(content.ClientTitle)
        </div>
        <div class="clients-text">
            @Html.Raw(content.ClientText)
        </div>
        <a class="story-btn" href="@content.ClientLink.Url">@content.ClientLink.Name</a>
        <img src="@content.ClientImage.Url()" alt="" />
    </div>
</section>